{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center text-decoration-underline text-success mt-3 mb-3">Modifier l'employé</h1>
    {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <div class="d-flex justify-content-end">
    <a href="{{ path('app_user_index') }}" class="btn btn-outline-success fs-4">Retour à la liste des employés</a>
    </div>
    </div>
{% endblock %}
