
{% extends 'base.html.twig' %}

{% block title %}Nouvel employé{% endblock %}

{% block body %}
    <h1>Ajouter un nouvel employé</h1>
    <div class="container">

    {{ include('user/_form.html.twig') }}

    <div class="d-flex justify-content-end">
    <a href="{{ path('app_user_index') }}" class="btn btn-outline-success fs-4">Retour à la liste des employés</a>
    </div>
    </div> 
{% endblock %}

